{% extends "./base.html" %}
{% load static %}

{% block content %}
<div class="theme-bg-light">
  <div class="container">
    <div class="row py-5">
      <div class="col-6 mx-auto">
        <div class="card">
          <div class="card-header text-center theme-bg-dark" style="border-bottom: None">
            <h6 class="text-white" style="font-weight: 500; margin-bottom: .0rem">審査基準から<br>
              ピッタリの住宅ローンを見つけよう！</h6>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group row">
                <label for="borrowingAmount" class="col-6 col-form-label" style="font-weight: 500">借入ご希望額</label>
                <div class="col-6">
                  <input type="text" class="form-control" id="borrowingAmount" placeholder="5,000万円">
                </div>
              </div>
              <div class="form-group row">
                <label for="borrowingAge" class="col-6 col-form-label" style="font-weight: 500">借入時年齢</label>
                <div class="col-6">
                  <input type="text" class="form-control" id="borrowingAge" placeholder="30歳">
                </div>
              </div>
              <div class="form-group row">
                <label for="payoffAge" class="col-6 col-form-label" style="font-weight: 500">完済時年齢</label>
                <div class="col-6">
                  <input type="text" class="form-control" id="payoffAge" placeholder="65歳">
                </div>
              </div>
              <div class="form-group row">
                <label for="annualIncome" class="col-6 col-form-label" style="font-weight: 500">年収</label>
                <div class="col-6">
                  <input type="text" class="form-control" id="annualIncome" placeholder="800万円">
                </div>
              </div>
              <div class="form-group row">
                <label for="evaluationColloteral" class="col-6 col-form-label" style="font-weight: 500">担保評価額</label>
                <div class="col-6">
                  <input type="text" class="form-control" id="evaluationColloteral" placeholder="3,500万円">
                </div>
              </div>
              <div class="form-group row">
                <button type="submit" class="col-8 mx-auto btn theme-bg-light">
                  <h6 class="text-white" style="font-weight: 500; margin-bottom: .0rem">この条件で検索</h6>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% for loan in search_result_loans %}
<div class="container">
  <div class="row py-5">
    <div class="col-8 mx-auto">
      <div class="card">
        <div class="card-header bg-white" style="border-bottom-style: dashed; border-bottom-color: #6c757d">
          <div class="container">
            <div class="row py-3">
              <div class="circle">
                <div class="text-white">
                  {{ forloop.counter }}
                </div>
              </div>
              <div>
                <h4 class="text-dark" style="font-weight: 300; margin-bottom: .0rem">
                  {{ loan.name }}
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row d-flex align-items-center">
              <div class="column-6 mx-auto">
                <h6 style="font-weight: 500; display:inline">年 </h6>
                <h2 style="font-weight: 500; display:inline">{{ loan.interest_rate }}</h3>
                  <h6 style="font-weight: 500; display:inline"> ％</h6>
              </div>
              <div class="column-6 mx-auto">
                <div class="container">
                  <div class="row pb-3">
                    <small class="underline mx-auto" style="font-weight: 500">諸条件</small>
                  </div>
                  <div class="row">
                    <ul class="list-group" style="line-height: 0.5">
                      <li class="list-group-item">
                        <small style="font-weight: 300">借入時年齢</small>
                        <small class="theme-txt-accent" style="font-weight: 500">{{ loan.borrowing_age }}</small>
                        <small style="font-weight: 300">歳以下</small>
                      </li>
                      <li class="list-group-item">
                        <small style="font-weight: 300">完済時年齢</small>
                        <small class="theme-txt-accent" style="font-weight: 500">{{ loan.payoff_age }}</small>
                        <small style="font-weight: 300">歳以下</small>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pt-4 pb-2">
              <div class="column-6 mx-auto">
                <a href={{ loan.url }}>
                  <button class="btn theme-bg-accent waves-effect waves-light">
                    <h6 class="text-white" style="font-weight: 500; margin-bottom: .0rem">公式サイトを見る</h6>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}